<div class="container mt-4">
	<h1 class="text-center text-uppercase font-weight-bold mb-4">--- Form ---</h1>

	<div class="mb-3">
		<adl-ui-input-text
			[options]="{
				label: 'Full Name',
				appearance: 'outline',
				matPrefix: {
					icon: 'person',
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.fullName.validators,
						message: formValidator.fullName.validationMessages,
					},
				},
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="setValueField($event, 'fullName')"></adl-ui-input-text>
	</div>

	<div class="mb-3">
		<adl-ui-input-text
			[options]="{
				label: 'Email',
				appearance: 'outline',
				matPrefix: {
					icon: 'email',
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.email.validators,
						message: formValidator.email.validationMessages,
					},
				},
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="setValueField($event, 'email')"></adl-ui-input-text>
	</div>

	<div class="mb-3">
		<adl-ui-input-text
			[options]="{
				label: 'Body',
				appearance: 'outline',
				field: {
					value: '',
					validation: {
						validators: formValidator.body.validators,
						message: formValidator.body.validationMessages,
					},
				},
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="setValueField($event, 'body')"></adl-ui-input-text>
	</div>

	<div class="mb-3">
		<adl-ui-select
			[options]="{
				label: 'Gender',
				appearance: 'outline',
				selectOptions: {
					label: 'label',
					value: 'value',
					data: [
						{
							label: 'Men',
							value: 'men',
						},
						{
							label: 'Women',
							value: 'women',
						},
					],
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.gender.validators,
						message: formValidator.gender.validationMessages,
					},
				},
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="setValueField($event, 'gender')"></adl-ui-select>
	</div>

	<div class="mb-3">
		<adl-ui-radio
			[options]="{
				label: 'Gender:',
				checkbox: {
					data: [
						{
							label: 'Men',
							value: 'men',
						},
						{
							label: 'Women',
							value: 'women',
						},
					],
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.gender.validators,
						message: formValidator.gender.validationMessages,
					},
				},
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="setValueField($event, 'genderRadio')"></adl-ui-radio>
	</div>

	<div class="mb-3">
		<adl-ui-checkbox
			[options]="{
				label: 'Your Hobby:',
				checkbox: {
					data: [
						{
							label: 'Reading a book',
							value: 'read_a_book',
						},
						{
							label: 'Playing Football',
							value: 'football',
						},
						{
							label: 'Swimming',
							value: 'swimming',
							disabled: true,
						},
					],
					isVertical: true,
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.hobby.validators,
						message: formValidator.hobby.validationMessages,
					},
				},
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="setValueChecked($event, 'hobby')"></adl-ui-checkbox>
	</div>

	<div class="d-flex gap-3 mb-3">
		<adl-ui-button
			[options]="{
				variant: 'flat',
				color: 'primary',
				name: 'Simpan',
				disabled: isSubmit,
			}"
			(click)="onSave()"></adl-ui-button>

		<adl-ui-button
			[options]="{
				variant: 'stroked',
				color: 'primary',
				name: 'Batal',
				disabled: isSubmit,
			}"></adl-ui-button>
	</div>

	<h1 class="text-center text-uppercase font-weight-bold mb-4">
		--- Dialog ---
	</h1>

	<div class="d-flex gap-3 mb-3">
		<adl-ui-button
			[options]="{
				variant: 'basic',
				color: 'primary',
				name: 'Open Dialog',
			}"
			(click)="openDialog()"></adl-ui-button>
	</div>

	<h1 class="text-center text-uppercase font-weight-bold mb-4">
		--- Table & Search ---
	</h1>

	<adl-ui-search
		[options]="{
			placeholder: 'Search',
		}"
		(searchValue)="onSearch($event)"></adl-ui-search>

	<ng-container *ngIf="!isLoading; else loadingTemplate">
		<adl-ui-table
			[table]="table"
			(pagination)="onUpdatePage($event)"
			(actionClicked)="onActionClicked($event)"></adl-ui-table>
	</ng-container>

	<ng-template #loadingTemplate> Please wait... </ng-template>

	<h1 class="text-center text-uppercase font-weight-bold mb-4">--- Pipe ---</h1>

	<p class="mb-3">{{ 100000 | rupiah }}</p>

	<h1 class="text-center text-uppercase font-weight-bold mb-4">
		--- Directive ---
	</h1>

	<div
		class="mb-3"
		style="display: flex; justify-content: space-between; gap: 1rem">
		<mat-form-field appearance="outline" style="width: 100%">
			<mat-label>Empty Space Directive (Form Control)</mat-label>
			<input matInput [formControl]="formControl" appEmptySpace />
		</mat-form-field>
		<mat-form-field appearance="outline" style="width: 100%">
			<mat-label>Empty Space Directive (ngModel)</mat-label>
			<input matInput [(ngModel)]="value" appEmptySpace />
		</mat-form-field>
	</div>
	<div
		class="mb-3"
		style="display: flex; justify-content: space-between; gap: 1rem">
		<mat-form-field appearance="outline" style="width: 100%">
			<mat-label>Only Number Directive (Form Control)</mat-label>
			<input matInput [formControl]="formControl" appOnlyNumber />
		</mat-form-field>
		<mat-form-field appearance="outline" style="width: 100%">
			<mat-label>Only Number Directive (ngModel)</mat-label>
			<input matInput [(ngModel)]="value" appOnlyNumber />
		</mat-form-field>
	</div>
	<div
		class="mb-3"
		style="display: flex; justify-content: space-between; gap: 1rem">
		<mat-form-field appearance="outline" style="width: 100%">
			<mat-label>Input Currency Directive (Form Control)</mat-label>
			<input matInput [formControl]="formControl" appInputCurrency />
		</mat-form-field>
		<mat-form-field appearance="outline" style="width: 100%">
			<mat-label>Input Currency Directive (ngModel)</mat-label>
			<input matInput [(ngModel)]="value" appInputCurrency />
		</mat-form-field>
	</div>
</div>
