<div class="container mt-4">
	<div class="mb-3">
		<adl-ui-input-text
			[options]="{
				label: 'Your Name',
				appearance: 'outline',
				matPrefix: {
					icon: 'person'
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.firstName.validators,
						message: formValidator.firstName.validationMessages
					}
				}
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="onSearch($event)"></adl-ui-input-text>
	</div>

	<div class="mb-3">
		<adl-ui-select
			[options]="{
				label: 'Gender',
				appearance: 'outline',
				selectOptions: {
					label: 'label',
					value: 'value',
					data: [
						{
							label: 'Men',
							value: 'men'
						},
						{
							label: 'Women',
							value: 'women'
						}
					]
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.gender.validators,
						message: formValidator.gender.validationMessages
					}
				}
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="onSearch($event)"></adl-ui-select>
	</div>

	<div class="mb-3">
		<adl-ui-radio
			[options]="{
				label: 'Gender:',
				checkbox: {
					data: [
						{
							label: 'Men',
							value: 'men'
						},
						{
							label: 'Women',
							value: 'women'
						}
					]
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.gender.validators,
						message: formValidator.gender.validationMessages
					}
				}
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="onSearch($event)"></adl-ui-radio>
	</div>

	<div class="mb-3">
		<adl-ui-checkbox
			[options]="{
				label: 'Your Hobby:',
				checkbox: {
					data: [
						{
							label: 'Reading a book',
							value: 'read_a_book'
						},
						{
							label: 'Playing Football',
							value: 'football'
						},
						{
							label: 'Swimming',
							value: 'swimming',
							disabled: true
						}
					],
					isVertical: true
				},
				field: {
					value: '',
					validation: {
						validators: formValidator.hobby.validators,
						message: formValidator.hobby.validationMessages
					}
				}
			}"
			[isSaveClicked]="isSubmit"
			(getValue)="onChecked($event)"></adl-ui-checkbox>
	</div>

	<div class="d-flex gap-3 mb-3">
		<adl-ui-button
			[options]="{
				variant: 'basic',
				color: 'primary',
				name: 'Open Dialog'
			}"
			(click)="openDialog()"></adl-ui-button>
	</div>

	<div class="d-flex gap-3 mb-3">
		<adl-ui-button
			[options]="{
				variant: 'flat',
				color: 'primary',
				name: 'Simpan'
			}"
			(click)="onSave()"></adl-ui-button>

		<adl-ui-button
			[options]="{
				variant: 'stroked',
				color: 'primary',
				name: 'Batal'
			}"></adl-ui-button>
	</div>
</div>

<div class="container my-4">
	<adl-ui-search
		[options]="{
			placeholder: 'Search'
		}"
		(searchValue)="onSearch($event)"></adl-ui-search>

	<adl-ui-table *ngIf="table" [table]="table"></adl-ui-table>
</div>
