<mat-drawer-container autosize (backdropClick)="backdropClickHandler()">
	<mat-drawer
		#filter
		mode="over"
		position="end"
		class="filter-ui"
		id="filter-ui"
		[opened]="filterOpened">
	</mat-drawer>

	<div>
		<app-toolbar
			[toggleConfig]="{
				isVisible: isVisible,
				isMobile: isMobile,
			}"
			(toggleHandler)="isVisible = !isVisible"></app-toolbar>

		<mat-sidenav-container class="tw-min-h-screen sidenav-app">
			<mat-sidenav
				[@slideInOut]="isVisible ? 'in' : 'out'"
				[opened]="!isMobile ? 'opened' : isVisible"
				[mode]="isMobile ? 'over' : 'side'">
				<app-sidenav></app-sidenav>
			</mat-sidenav>

			<mat-sidenav-content
				class="tw-p-4 tw-min-h-full"
				[ngClass]="{
					'opened-spacing': !isMobile && isVisible,
					'closed-spacing': !isMobile && !isVisible,
				}">
				<app-breadcrumb-ui></app-breadcrumb-ui>

				<router-outlet></router-outlet>
			</mat-sidenav-content>
		</mat-sidenav-container>
	</div>
</mat-drawer-container>
